.mousey {
	@apply w-0 h-9 px-[10px] py-0 border border-bl-base dark:border-wh-hover rounded-3xl opacity-90 dark:opacity-95 box-content;
}

.scroller {
	@apply bg-bl-base dark:bg-wh-hover w-[1px] h-[10px] rounded-[25%];
    animation: scroll 2.2s cubic-bezier(.15, .41, .69, .94) infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(5);
        opacity: 1;
    }

    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}