@tailwind utilities;

@layer utilities {
    .flex-v-center{
        @apply flex items-center;
    }
    .flex-full-center{
        @apply flex items-center justify-center;
    }
    .customise-container{
        @apply px-5 sm:px-[1.5%] container md:px-[2%] lg:px-[3%] xl:px-[4%] 2xl:px-[5%] mx-auto;
    }

    .position-full-center{
        @apply transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
    }
    .position-v-center{
        @apply transform -translate-y-1/2 top-1/2;
    }
    .anim-fade{
        animation: fade 1s ease 0s 1 normal forwards;
    }
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}