@tailwind base;

/* elements resuable style components*/
@import "./class-components.css";

@tailwind utilities;

/* customize autofilled */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

/* customize scrllbar */
::-webkit-scrollbar {
	@apply w-1;
}
::-webkit-scrollbar-thumb {
	@apply bg-primary-border rounded-md hover:bg-white/80 duration-200;
}